persistence:
  storageClass: nfs-client
  size: "5Gi"

controller:
  adminPassword: "admin"
  ingress:
    enabled: true
    hostName: jenkins.kubernetes.local
  nodeSelector:
    kubernetes.io/hostname: "k8s-3"
