persistence:
  enabled: true
  storageClass: rook-ceph-block2

plugins:
  install:
    - https://github.com/mc1arke/sonarqube-community-branch-plugin/releases/download/1.14.0/sonarqube-community-branch-plugin-1.14.0.jar
  lib:
    - sonarqube-community-branch-plugin-1.14.0.jar
jvmOpts: "-javaagent:/opt/sonarqube/lib/common/sonarqube-community-branch-plugin-1.14.0.jar=web"
jvmCeOpts: "-javaagent:/opt/sonarqube/lib/common/sonarqube-community-branch-plugin-1.14.0.jar=ce"


postgresql:
  persistence:
    storageClass: rook-ceph-block2
    
resources:
  limits:
    cpu: 800m
    memory: 2Gi
  requests:
    cpu: 200m
    memory: 1Gi